/*-----------------------------------------------------------------------------
 * Hyperlinks
 *---------------------------------------------------------------------------*/

a {
    color: #333;
}

a:link {
    text-decoration:none;
}

a:visited {
    text-decoration:none;
}

a:hover {
    text-decoration:none;
    color: #555;
}

a:active {
    text-decoration:none;
}


/*-----------------------------------------------------------------------------
 * Generally universal
 *---------------------------------------------------------------------------*/

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 0 0;
}

h1 {
    style: none;
}

#about {
    font-size: 1em;
    padding-top: .6em;
    text-align: right;
}

#page-title {
    text-align: center;
    margin: 0px auto;
    font-size: 2.3em;
}

#content {
    width: 31em;
    text-align: justify;
    margin: 0 auto;
}

.meta {
    font-size: .8em;
    color: #666;
}

#footer {
    padding: 1em 0em 2em 0em;
    text-align: center;
}

#owner {
    padding: 1em 0em 1em 0em;
}

/*-----------------------------------------------------------------------------
 * Posts
 *---------------------------------------------------------------------------*/

.post-title {
    text-align: center;
    font-size: 2em;
}

.post-body {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    line-height: 1.5em;
    font-size: 1em;
}

/*-----------------------------------------------------------------------------
 * Comments
 *---------------------------------------------------------------------------*/

.comment-header {
    font-size: 1.8em;
    padding: .5em 0em .5em 0em;
}

.comment {
    padding: 1em 2em 1em 2em;
}

.comment-item {
    display: block;
}

.comment-head {
    overflow: auto;
    width: 100%
}

.comment-timestamp {
    float: right;
}

.comment-title {
    font-size: 1.3em;
    float: left;
}

.comment-name {
    text-align: left;
}

.comment-body {
    padding: 1em 0em .5em 0em;
    line-height: 1.5em;
}

.comment-post {
    padding: 0em 2em 0em 2em;
}
